#WBS .actions button{
  padding: 0px;
  border: none;
  cursor: pointer;
}

th.actions button span{
  display: none;
}

th.actions button{
  width: 32px;
  height: 32px;
  border-radius: 4px 4px;
  outline: none;
  border-width: 1px;
  border-color: #6d3d1c;
  cursor: pointer;
  display: block;
  float: left;
  margin: 0px 1px;
  padding: 0px; 
  background-position: left top;
  background-repeat:  no-repeat;
  border-color: rgb(134,158,169);
  border-width: 1px;
  border-style: outset; 
  box-shadow: 1px 1px 1px 2px rgba(232,234,250,0.4) inset;
}


th.actions button:hover{
  box-shadow: 1px 1px 1px 2px rgba(232,234,250,0.1) inset;
}




th.actions button.new{
	background-image: url('../img/new.png');
}

th.actions button.save{
  background-image: url('../img/save.png');
}

th.actions button.edit{
  background-image: url('../img/edit.png');
}

th.actions button.delete{
  background-image: url('../img/delete.png');
}

th.actions button.move_up{
  background-image: url('../img/move_up.png');
}

th.actions button.move_down{
  background-image: url('../img/move_down.png');
}

th.actions button.level_up{
  background-image: url('../img/level_up.png');
}

th.actions button.level_down{
  background-image: url('../img/level_down.png');
}


th.actions button.tree_open{
  background-image: url('../img/tree_open.png');
}