@charset "utf-8";
/* CSS Document */
/* 
main styles for entire document
*/
body {
  font-family: Arial, Tahoma;
  font-size: 12px;
  margin: 0px;
  padding: 0px;
  background: #ccccff;
}

ul, ol, li, div, span, p, a {
  
}

/*
styles for specific additional elements
*/
.one_row {
  display: -ms-Flexbox;
  -ms-box-orient: horizontal;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

/*
styles for table
*/
table {
  border: 1px solid #666699;
  margin: 0px;
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, Tahoma, Helvetica, sans-serif;
  font-size: 14px;
}

table td {
  border: 1px solid #666699;
  border-collapse: collapse;
  color: #000000;
  font-weight: normal;
  font-size: 14px;
  line-height: normal;
  vertical-align: middle;
}

table tr th {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  padding: 0px;
  color: #ffffff;
  font-size: 18px;
}

table thead th, table tbody th {
  background: #666699;
}

table tr:nth-child(even) {
  background: #ffffff;
}

table tr:nth-child(odd) {
  background: #ffffff;
}

table td, table th {
  padding: 0px;
}

table td.level {
  width: 5%;
  min-width: 60px;
  text-align: left;
  font-weight: bold;
  padding: 0px 10px 0px 10px;
  text-indent: 0px;
}

table td.title {
  max-width: 30%;
  min-width: 300px;
  text-align: left;
  font-weight: bold;
  padding: 0px 0px 0px 5px;
  text-indent: 5px;
}

table td.cost {
  width: 100px;
  padding: 0px 10px;
}

table td.time {
  width: 120px;
  padding: 0px 10px;
}

table tr.sublevel td.title, table tr.sublevel td.level {
  text-indent: 10px;
}

table tr.inner_two td.title, table tr.inner_two td.level {
  text-indent: 20px;
}

table td.detailed {
  width: 30%;
  text-align: left;
  font-weight: normal;
  padding: 0px 0px 0px 10px;
}

table th.actions {
  text-align: left;
  font-weight: normal;
  padding: 1px;
  background: #ece4df;
}

table td.title input {
  text-align: left;
}

.thoughtful {
  text-align: center;
}