/*
* Olga Zhilkova
* Special styles for WBS buttons
*/
#WBS {
	max-width: 70%;
	margin: 10% auto;
}

#WBS .row_only {
	display: -ms-Flexbox;
	-ms-box-orient: horizontal;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;

	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
}

#WBS button, #WBS input,
#WBS .input-group-addon, #WBS .input-group{
  padding: 0px;
  margin: 0px;
}

#WBS select{
  padding: 0px 20px 0px 0px;
  margin: 0px;
  line-height: 20px;
}

#WBS select.form-control:not([size]):not([multiple]){
  height: auto;
}

#WBS td.title{
  width: 25%;
}

#WBS td.level{
  width: 10%;
}

#WBS td.cost{
  width: 15%;
}

#WBS td.time{
  width: 5%;
}

#WBS td.scale_time{
  width: 10%;
}

#WBS td.thousand{
  width: 5%;
}


table#wbs input{
  border: 0px solid #fff;
  background: transparent;
  padding: 0px;
  margin: 0px;
  box-shadow: none;
  height: auto;
  color: #000000;
}

#WBS ul.actions li{
  list-style-type: none;
  width: 20%;
}